.titulo1{
    text-align: center;
    color:whitesmoke;
}

.navsup{
    background-color: #1A097A;
    color:F0F0F0;
    height: 90px;
    text-align: center;
}
.navbotton{
    background-color: #1A094A;
    color:F0F0F0;
    height: 80px;
}


.container .text-muted {
  margin: 20px 0;
}
.jumbo-css{
    margin-top: 30%;
    position: absolute;
    
}
.nav-style{
    margin-right: 0px;
    padding: 0px;
}
.container-height{
    min-height: 100%;
}
body {
    padding-bottom: 50px; 
}
.fondo{
    background-image: url(..\img\fondo1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
    background-position: center;
	font-size: 20%;
    
    
}